<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Complete Fitness : Free Trial | Forward Fitness Club</title>
    <meta charset = "utf-8/">
    <link rel = "stylesheet"  href = "css/styles.mini.css" type = "text/css" />
    <meta name = "viewport" content = "width-device-width, initial-scale=1.0"/>
    <meta name = "description" content = "The Forward Fitness Club is an elite fitness center dedicated to helping clients achieve their fitness and nutrition goal."/>
    <link rel="icon" type="image/png" href="ic/logo.png">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!--Skip to Content Link-->
    <a class = "skip" href="#content">Skip to Content</a>
    <div id = "container">
        <!--Mobile Nav-->
        <nav class="mobile-nav">
            <div id="menu-links">
                <a href = "homepage.html">Home</a> 
                <a href = "cart.html">Cart</a> 
                <a href = "profile.html">Account</a>
            </div>
            <a class = "menu-icon" onclick = "hamburger()"> 
                <div>&#9776;</div>
            </a>
        </nav>

        <header>
            <a href="homepage.html">
                <img src="images/logo.png" alt="User Icon">
            </a>
            
            <div class="header-controls">
    
                <select id="categoryDropdown">
                    <option value="">Select Category</option>
                </select>
    
                <input type="text" placeholder="Search..">
    
            </div>
    
            <nav class="navigate">
                <a href="homepage.html">
                    <i class="fa-solid fa-house"></i>
                </a>         
                <a href="cart.html"> <i class="fa-solid fa-cart-shopping"></i></a>
                <a href="log.html"> <i class="fa-solid fa-user"></i> </a>
            </nav>
        </header>
        <header id = "ffc-logo">
            <a href = "index.html">
                <img src = "images/forward-fitness-logo.png" alt = "Forward Fitness Club logo" />
            </a>
        </header>

        <!--Tablet, Desktop Nav-->
        <nav class = "tablet-desktop">
            <ul>
                <li><a href = "index.html">Home</a> </li>
                <li><a href = "about.html">About Us</a> </li>
                <li><a href = "classes.html">Classes</a></li>
                <li><a href = "nutrition.html">Nutrition</a></li>
                <li><a href = "contact.html">Contact Us</a> </li>
            </ul>
        </nav>

        <!--Hero Image-->
        <div id = "hero" class = "tablet-desktop">
            <img src = "images/hero-image.jpg" alt = "left arm extended holding a weight" />
        </div>

        <main id = "content">
                <div class = "mobile">
                    <p>Welcome to Forward Fitness Club. Our mission is to help out our clients meet their fitness and nutrition goals</p>

                    <h3>FREE One-Week Trial Membership!</h3>

                    <p>Call us today to get started.</p>
                    <p class = "tel-link"><a href = "tel=8145559608">(814) 555-9608</a></p>

                    <h4>Fitness Club Hours</h4>
                        <ul class = "hours">
                            <li>Mon - Thu: 6:00am - 6:00pm</li>
                            <li>Friday: 6:00am - 4:00pm</li>
                            <li>Saturday: 8:00am - 6:00pm</li>
                            <li>Sunday: Closed</li>
                        </ul>

                </div>

            <div class = "tablet-desktop">
                <p>Welcome to Forward Fitness Club. Our mission is to help out our clients meet their fitness and nutrition goals.</p>
                <p>If you have struggled with getting healthy and need the motivation and resources to make a healthy lifestyle change, contact us today. Our facility includes state-of-the-art equipment, convenient group training classes, and nutrition tips and information to keep you healthy.</p>
                <p>We provide a FREE, one-week membership to experience the benefits of our equipment and facility. This one week trial gives you complete access to our equipment, training classes, and nutrition planning. Contact us today to <span class = "action">start your free trial!</span></p>
            </div>

            <div class = "grid">
                <figure class = "frame">
                    <a href = "classes.html"><img src = "images/fitness-group.jpg" alt = "group of fitness people"/></a>
                    <figcaption class = "pic-text">Group Fitness</figcaption>
                </figure>

                <figure class = "frame">
                    <a href = "nutrition.html"><img src = "images/food-heart.jpg" alt = "healthy food in the shape of a heart"/></a>
                    <figcaption class = "pic-text">Meal Plans</figcaption>
                </figure>

                <figure class = "frame">
                    <a href = "contact.html"><img src = "images/personal-trainer.jpg" alt = "personal trainer with a clipboard"/></a>
                    <figcaption class = "pic-text">Start Today</figcaption>
                </figure>

            </div>
        </main>

        <footer>
            <div class = "copyright">
            <p>&copy; Copyright 2024. All rights reserved. Created by Katherine Sanchez</p>
            <p><a href="mailto:forwardfitness@club.net">forwardfitnessclub.net</a></p>
        </div>

            <div class = "social">
                <a href="https://www.facebook.com/fwdfitclub" target="_blank"> 
                <img src="images/facebook-logo.png" alt="black and white Facebook logo"/>
                </a>
                <a href="https://www.twitter.com/christructure" target="_blank"> 
                <img src="images/twitter-logo.png" alt="black and white Twitter logo"/>
                </a>
            </div>

        </footer>
    </div>
    <script src = "scripts/script.js"> </script>
</body>
</html>