<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wishlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>
<body>
    <h1>My Wishlist</h1>
    <ul>
        {% for item in wishlist_items %}
            <li>
                <img src="{{ item[3] }}" alt="{{ item[2] }}">
                <h2>{{ item[2] }}</h2>
                <form method="POST" action="{{ url_for('remove_from_wishlist') }}">
                    <input type="hidden" name="wishlistID" value="{{ item[0] }}">
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
